<ion-header>
	<ion-toolbar>
		<ion-title>login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
	<form #form="ngForm" (ngSubmit)="login(form)">
		<ion-grid>
			<ion-row color="primary" justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
					<div text-center>
						<h3>Login</h3>
					</div>
					<div padding>
						<ion-item>
							<ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
						</ion-item>
						<ion-item>
							<ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
						</ion-item>
					</div>
					<div padding>
						<ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
					</div>
					<div text-center>
						<p>If you don't have an account, please <a routerLink='/register'>
						register</a> first! </p>
					</div>
				</ion-col>
			</ion-row>

		</ion-grid>
	</form>
</ion-content>
